.todos {
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.header {
  margin-bottom: 30px;
}

.title {
    text-align: center;
    font-size: 25px;
}

.list-item { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px 10px;
  border: 1px solid #abb4c4;
  border-radius: 5px;
}

.list-checkbox {
  margin-right: 10px;
}

.list-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.list-button:disabled {
  cursor: default;
}

.done {
  text-decoration: line-through;
}

.pagination {
  margin-top:  20px;
  text-align: center;
}

.pagination__button {
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.pagination__button:hover {
  background-color: #abb4c4;
}

.pagination__button--active {
  background-color: gray;
}